@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

body {
  	font-family: 'Teko', sans-serif;
    background-color: rgb(220, 211, 57);
}

.navBar{
  	text-transform: uppercase;
  	font-size: 1.6rem;
}

.navTitle{
  	font-size: 2.6rem;
  	color: rgb(240, 229, 12) !important;
}

.navBar a{
    text-decoration: none;
}

.linksNav{
  	color: rgb(174, 165, 2) !important;
}

.linksNav:hover{
  	color: rgb(222, 211, 12) !important;
}

.cartWidget{
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.cartWidget:hover{
    transform: scale(1.03);
}

.productosContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemCount{
    width: 200px;
    /* height: 120px; */
    /* background-color: rgb(220, 220, 220); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

.itemCount p {
    font-size: 22px;
}

.divCantidad {
    background-color: rgb(255, 255, 255);
    color: rgb(75, 75, 75);
    width: 85%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7px;
    font-size: 25px;
    border-radius: 5px;
}

.disminuirItem {
    color: rgb(175, 175, 175);
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.disminuirItem:hover {
    color: rgb(200, 200, 200);
}

.aumentarItem{
    color: rgb(175, 175, 175);
    font-size: 30px;
    cursor: pointer;
	transition: 0.2s;
}

.aumentarItem:hover{
    color: rgb(200, 200, 200);
}

.itemCount button {
    width: 85%;
    height: 37px;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 7px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
}

/* .itemCount button:hover{
    background-color: rgb(218, 218, 218);
} */

.cardProducto{
    width: 240px;
    background-color: rgb(33, 37, 41);
    color: rgb(222, 211, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 11px 0 11px 0;
    border-radius: 5px;
    border: solid 1px rgb(222, 211, 0);
    text-transform: uppercase;
    text-align: center;
    transition: 0.2s;
}

.cardProducto:hover {
    box-shadow: 1px 1px 10px 1px rgb(100, 100, 100);
    /* transform: scale(1.005); */
}

.cardImage {
    width: 210px;
    border-radius: 5px;
}

.cardFooter{
    font-size: 22px;
}

.cardFooter p {
    margin: 0;
}

.cardFooter button {
    text-transform: uppercase;
    color: rgb(174, 165, 2);
    border-radius: 5px;
    border: solid 1px rgb(174, 165, 2);
    background-color: rgb(33, 37, 41);
    transition: 0.3s;
}

.cardFooter button:hover {
    background-color: rgb(47, 50, 53);
    border: solid 1px rgb(222, 211, 0);
    color: rgb(222, 211, 0);
}

.buttonDetalles{
    height: 30px;
    font-size: 20px;
    text-align: center;
}