@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

body {
  	font-family: 'Teko', sans-serif;
    background-color: rgb(220, 211, 57);
}

.navBar{
  	text-transform: uppercase;
  	font-size: 1.6rem;
}

.navTitle{
  	font-size: 2.6rem;
  	color: rgb(240, 229, 12) !important;
}

.navBar a{
    text-decoration: none;
}

.linksNav{
  	color: rgb(174, 165, 2) !important;
    margin: 0 5px 0 5px;
}

.linksNav:hover{
  	color: rgb(222, 211, 12) !important;
}

.cartWidget{
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    display: flex;
}

.cartWidget:hover{
    transform: scale(1.03);
}

.cartWidget p {
    width: 32px;
    height: 32px;
    font-size: 22px;
    position: relative;
    right: 10px;
    color: rgb(33, 37, 41);
    background-color: rgb(232, 221, 25);
    border: solid 0.5px rgb(100, 100, 100);
    border-radius: 50%;
    text-align: center;
}

.greeting{
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.productosContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemCount{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

.itemCount p {
    font-size: 17px;
    color: rgb(167, 161, 49);
}

.cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.endBuy{
    height: 75vh;
}

.cartMnsj{
    margin-top: 100px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.cartCodeBuy{
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(67, 66, 66);
}

.cartAddItems{
    font-size: 25px;
    background-color: rgb(47, 50, 53);
    color: rgb(220, 211, 57);
    border: solid 2px rgb(33, 37, 41);
    border-radius: 10px;
    text-transform: uppercase;
    transition: .4s;
}

.cartAddItems:hover{
    background-color: rgb(148, 144, 60);
    color: rgb(47, 50, 53);
}

.itemCart{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(223, 216, 76);
    border-radius: 5px;
    border: solid 0.5px rgb(33, 37, 41);
    font-size: 27px;
}

.itemCart p{
    margin: 0;
}

.itemCart img {
    border-radius: 5px;
}

.itemNombre{
    width: 100px;
}

.itemCart button {
    position: relative;
    right: -20px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(33, 37, 41);
    color: rgb(240, 229, 12);
    border: solid 0.5px rgb(100, 100, 100);
    font-size: 20px;
    transition: .4s;
}

.itemCart button:hover{
    background-color: rgb(70, 68, 68);
    color: rgb(255, 242, 0);
}

.precioTotal{
    width: 40%;
    height: 50px;
    border: solid 2px rgb(33, 37, 41);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(33, 37, 41);
}

.precioTitle{
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(220, 211, 57);
}

.precioNum{
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    color: rgb(226, 221, 197);
}

.btnsCart{
    margin: 20px;
}

.btnsCart button{
    font-size: 25px;
    background-color: rgb(47, 50, 53);
    color: rgb(220, 211, 57);
    border: solid 2px rgb(33, 37, 41);
    border-radius: 10px;
    text-transform: uppercase;
    transition: .4s;
    margin: 10px;
    padding-top: 5px;
}

.btnsCart button:hover{
    background-color: rgb(77, 77, 74);
}

.btnsCart button img{
    margin-right: 5px;
    margin-bottom: 5px;
}

.formCart{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    /* margin-left: 200px; */
}

.formCart input{
    width: 100%;
    height: 45px;
    font-size: 25px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: .5px solid rgb(33, 37, 41);
}

.formCart label{
    height: 25px;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 8px;
}

.inputContainer{
    display: flex;
    flex-direction: row;
}

.inputTrue{
    display: none;
}

.inputFalse{
    height: 30px;
    /* width: 155px; */
    display: flex;
    color: rgb(186, 11, 11);
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    margin-left: 10px;
    position: absolute;
    z-index: 200;
    right: 300px;
}

.inputFalse img{
    margin-bottom: 4px;
    margin-right: 5px;
}

.formCart button{
    width: 300px;
    font-size: 25px;
    background-color: rgb(47, 50, 53);
    color: rgb(220, 211, 57);
    border: solid 2px rgb(33, 37, 41);
    border-radius: 10px;
    text-transform: uppercase;
    transition: .4s;
    margin-top: 10px;
    align-self: center;
}

.formCart button:hover{
    background-color: rgb(77, 77, 74);
}

.divCantidad {
    background-color: rgb(255, 255, 255);
    color: rgb(75, 75, 75);
    width: 85%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7px;
    font-size: 25px;
    border-radius: 5px;
}

.disminuirItem {
    color: rgb(175, 175, 175);
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.disminuirItem:hover {
    color: rgb(200, 200, 200);
}

.aumentarItem{
    color: rgb(175, 175, 175);
    font-size: 30px;
    cursor: pointer;
	transition: 0.2s;
}

.aumentarItem:hover{
    color: rgb(200, 200, 200);
}

.btAgregar {
    width: 85%;
    height: 37px;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 7px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
}

.btTerminar {
    width: auto;
    height: 37px;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 7px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
}

.cardProducto{
    width: 240px;
    background-color: rgb(33, 37, 41);
    color: rgb(222, 211, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 11px 0 11px 0;
    border-radius: 10px;
    border: solid 1px rgb(222, 211, 0);
    text-transform: uppercase;
    text-align: center;
    transition: 0.2s;
}

.cardProducto:hover {
    box-shadow: 1px 1px 10px 1px rgb(100, 100, 100);
}

.cardImage {
    width: 210px;
    border-radius: 5px;
}

.cardFooter{
    font-size: 22px;
}

.cardFooter p {
    margin: 0;
}

.cardFooter button {
    text-transform: uppercase;
    color: rgb(174, 165, 2);
    border-radius: 5px;
    border: solid 1px rgb(174, 165, 2);
    background-color: rgb(33, 37, 41);
    transition: 0.3s;
}

.cardFooter button:hover {
    background-color: rgb(47, 50, 53);
    border: solid 1px rgb(222, 211, 0);
    color: rgb(222, 211, 0);
}

.buttonDetalles{
    height: 30px;
    font-size: 20px;
    text-align: center;
}

/* ------------ detail ------------ */

.containerDetail{
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.cardDetailProducto{
    width: 50%;
    height: 80%;
    background-color: rgb(33, 37, 41);
    color: rgb(222, 211, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 2px rgb(33, 37, 41);
    text-transform: uppercase;
    
}

.containerDetailImage{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(33, 37, 41);
    border-radius: 10px;
}

.cardDetailImage {
    width: 92%;
    border-radius: 10px;
}

.cardDetailFooter{
    width: 40%;
    height: 80%;
    font-size: 30px;
    border: solid 1px rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.cardDetailFooter p {
    margin: 5px 0 5px 0;
}

.detailPrice{
    color: rgb(226, 221, 197);
    font-size: 55px;
}

.cardDetailFooter h2 {
    margin: 0;
    font-size: 50px;
}

.detailDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailDescription p {
    margin: 0;
}

.cardDetailFooter button {
    text-transform: uppercase;
    color: rgb(174, 165, 2);
    border-radius: 5px;
    border: solid 1px rgb(174, 165, 2);
    background-color: rgb(33, 37, 41);
    transition: 0.3s;
}

.cardDetailFooter button:hover {
    background-color: rgb(47, 50, 53);
    border: solid 1px rgb(222, 211, 0);
    color: rgb(222, 211, 0);
}

/* animation */

.contenedorLoader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.loader{
    position: fixed;
    top: 450px;
}

.loader img{
    width: 70px;
    position: relative;
    margin-right: 30px;
}

@keyframes animation {
    0%{
        top: 0px;
        transform: rotate(-180deg);    
    }
    50%{
        top: -80px;
    }
    100%{
        top: 0px;
        transform: rotate(180deg);
    }
}


.img1{
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.img2{
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: .3s;
}

.img3{
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: .5s;
}

.loading{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
}